html {
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
    -webkit-background: radial-gradient(circle, #fff, #ccc);
    -moz-background: radial-gradient(circle, #fff, #ccc);
    -o-background: radial-gradient(circle, #fff, #ccc);
}

#container {
    height: 410px;
    width: 550px;
    background-color: #9dd2ea;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px #009de4;
    -moz-box-shadow: 0px 4px 0px 0px #009de4;
    -webkit-box-shadow: 0px 4px 0px 0px #009de4;
    position: relative;
}

#score {
    background-color: #f1ff92;
    color: #888e5f;
    padding: 10px;
    position: absolute;
    left: 500px;
    box-shadow: 0px 4px #9da853;
    -moz-box-shadow: 0px 4px #9da853;
    -webkit-box-shadow: 0px 4px #9da853;
}

#correct {
    background-color: green;
    color: #fff;
    padding: 10px;
    position: absolute;
    left: 250px;
    display: none;
}

#wrong {
    background-color: rgb(128, 28, 0);
    color: #fff;
    padding: 10px;
    position: absolute;
    left: 250px;
    display: none;
}

#question {
    width: 450px;
    height: 160px;
    margin: 50px auto 10px auto;
    background-color: #9da0ea;
    box-shadow: 0px 4px #535aa8;
    font-size: 100px;
    text-align: center;
    font-family: cursive sans-serif;
}

#instruction {
    width: 450px;
    height: 45px;
    background-color: #B481D9;
    margin: 10px auto;
    text-align: center;
    line-height: 45px;
    box-shadow: 0px 4px #8153a8;
    -moz-box-shadow: 0px 4px #8153a8;
    -webkit-box-shadow: 0px 4px #8153a8;
}

#options {
    height: 100px;
    width: 450px;
    margin: 5px auto;
}

.answer {
    width: 85px;
    margin-right: 36px;
    float: left;
    height: 85px;
    box-shadow: 0px 4px #bcc8bf;
    -webkit-box-shadow: 0px 4px #bcc8bf;
    -moz-box-shadow: 0px 4px #bcc8bf;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    border-radius: 3px;
    color: black;
    cursor: pointer;
    transition: all 0.3s;
}

.answer:hover,
#startreset:hover {
    color: white;
    background-color: #9c89f6;
    box-shadow: 0px 4px #6b54d3;
    -moz-box-shadow: 0px 4px #6b54d3;
    -webkit-box-shadow: 0px 4px #6b54d3;
}

.answer:active,
#startreset:active {
    box-shadow: 0px 0px #6b54d3;
    -moz-box-shadow: 0px 0px #6b54d3;
    -webkit-box-shadow: 0px 0px #6b54d3;
    top: 4px;
}

#box4 {
    margin-right: 0px;
}

#startreset {
    background-color: #46b8ed;
    color: black;
    margin: 0 auto;
    text-align: center;
    border-radius: 3px;
    width: 78px;
    padding: 9px;
    cursor: pointer;
    align-items: center;
    position: relative;
    box-shadow: 0px 4px #abb37b;
    -moz-box-shadow: 0px 4px #abb37b;
    -webkit-box-shadow: 0px 4px #abb37b;
}

#timing {
    background-color: #3cc551;
    position: absolute;
    top: 395px;
    color: #fff;
    border-radius: 3px;
    width: 152px;
    padding: 10px;
    text-align: center;
    left: 405px;
    box-shadow: 0px 4px #abb37b;
    -moz-box-shadow: 0px 4px #abb37b;
    -webkit-box-shadow: 0px 4px #abb37b;
    display: none;
}

#gameOver {
    height: 200px;
    width: 500px;
    background: -webkit-linear-gradient(#F3CA6B, #F3706C);
    background: -o-linear-gradient(#F3CA6B, #F3706C);
    background: -moz-linear-gradient(#F3CA6B, #F3706C);
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 40px;
    z-index: 2;
    display: none;
}